<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>new arrivals</h4>
                    <h2>Utimate Laptop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    
                    <ul>
                        <li class="active">All Products</li>
                        <li>Sắp xếp theo tên {{{sortable 'name' _sort}}}</li>
                        <li>Sắp xếp theo giá {{{sortable 'price' _sort}}}</li>
                        <li>Sắp xếp theo khuyến mãi {{{sortable 'promotion' _sort}}}</li>
                    </ul>
                </div>
            </div>
            {{#if company}}
                <div class="col-md-12">
                    <ul>
                        <li>
                            <h2 style="text-transform: uppercase;">Sản phẩm của {{company}}</h2>
                        </li>
                    </ul>
                </div>
            {{else}}              
            <div class="col-md-12">
                <ul>
                    <li>
                        <h2 style="text-transform: uppercase;">Tất cả sản phẩm</h2>
                    </li>
                </ul>
            </div> 
            {{/if}}

            {{#each products}}
            <div class="col-lg-3 col-md-3">
                <div class="product-item" style="height: 300px;">
                    <img src="{{this.image}}" alt="">
                    <div class="down-content">  
                    <a href="productDetail/{{this.slug}}">
                        <h6>{{this.name}}</h6>
                        <span>Chi tiết</span>
                    </a>
                    <h5>{{formatCurrency this.price}}VND </h5> 
                    <p class="float-right">-{{this.discount}}%</p>
                    <h4>{{formatCurrency (discount this.price this.discount)}} VND</h4>
                    <a class="input" href="/cart">Giỏ hàng</a>
                    </div>
                </div>
            </div> 
            {{else}} 
                <p>Updating data...</p>
            {{/each}}
            {{#if company}}
                <div class="col-md-12">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="text-uppercase" href="/products">Xem tất cả sản phẩm</a></li>
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
</div>
